body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.head {
	background: url(../image/back.jpeg) no-repeat 50% top;
	padding-top: 20px;
	padding-bottom: 60px;
}

.header .logo {
	display: inline-block;
	padding-top: 47px;
	padding-bottom: 45px;
	vertical-align: top;
}

.header {
	margin-bottom: 37px;
}

.header .call {
	display: inline-block;
	text-align: right;
	width: 478px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 36px;
	background: #e0e2e6;
	opacity: 0.9;
	border-radius: 10px;
	margin-left: 29px;
	padding-top: 11px;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
	line-height: 1.3;
	position: relative;
	padding-bottom: 15px;
}

.header .call__item--red {
	text-transform: uppercase;
	color: #bb1d1f;
	letter-spacing: 2px;
}

.header .call a.call__item {
	text-decoration: none;
	white-space: nowrap;
	color: black;
	font-size: 48px;
	background-image: linear-gradient(to right, black 0, black 16px, transparent 16px);
 	background-size: 28px 3px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
}

.header .call:before {
	content: "";
	display: inline-block;
	border: 15px solid #e0e2e6;
	border-left-width: 0px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	left: -15px;
	top: 42%;
}

.head .feedback__item {
	text-transform: uppercase;
	font-size: 36px;
	background: #fff;
	margin: 0;
	margin-bottom: 11px;
	font-weight: 300;
	padding-left: 15px;
	letter-spacing: -0.36px;

}

.head .feedback__item--red {
	text-decoration: none;
	color: #bb1d1f;
	font-weight: 600;
}

.head .feedback__item:first-child {
	width: 309px;
}

.head .feedback__item:nth-child(2) {
	width: 538px;
}

.head .feedback__item:nth-of-type(3) {
	width: 685px;
	margin-bottom: 50px;
}

.head .feedback__form input[type="text"], .feedback__form input[type="tel"] {
 font-size: 36px;
 text-transform: uppercase;
 font-weight: 300;
 background: transparent;
 border: none;
 border-bottom: 2px solid black;
 display: block;
 width: 480px;
 padding-left: 33px;
height: 45px;
box-sizing: border-box;
margin-bottom: 35px;
letter-spacing: -0.3px;

}

.head .feedback__form {
	position: relative;
}
.head .feedback__form input::placeholder {
	color: black;
}

.head .feedback__form input:focus {
	outline: none;
}

.head .feedback__form label:first-of-type {
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 36px;
	font-weight: bold;
	color: #bb1d1f;
	line-height: 45px;
}

.head .feedback__form label:last-of-type {
	position: absolute;
	top: 78px;
	left: 5px;
	font-size: 36px;
	font-weight: bold;
	color: #bb1d1f;
	line-height: 45px;
}
.head .feedback__form input[type="tel"] {
	margin-bottom: 40px;
}
.head .feedback__form input[type="submit"] {
	font-size: 24px;
	border: none;
	background: #bb1d1f;
	color: #fff;
	text-transform: uppercase;
	width: 275px;
	padding: 6px 25px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px #000;
}
.work {
	padding-top: 42px;
	padding-bottom: 25px;
}
.work-list {
	list-style: none;
	display: block;
	padding: 0;
}

.work-item {
	display: inline-block;
	margin-bottom: 25px;



}

.work-item:nth-of-type(1), .work-item:nth-of-type(4) {
	width: 300px;	

}

.work-item:nth-of-type(2), .work-item:nth-of-type(5) {
	width: 300px;
	margin-left: 35px;
}

.work-item:nth-of-type(3), .work-item:nth-of-type(6) {
	width: 286px;
	margin-left: 30px;
}

.work-item__image {
	display: inline-block;
	vertical-align: middle;
}

.work-item__desc {
	display: inline-block;
	width: 142px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 1.2;



}
.work-item__desc--red {
	color: #bb1d1f;
}

.work-header {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: -0.37px;
	margin-bottom: 60px;
	margin: 0;
	margin-bottom: 60px;
}
.advantages {
	background: #f7f7f7;
	padding-top: 52px;
	padding-bottom: 40px;
}

.advantages-header {
	font-size: 48px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -0.37px;
	margin-bottom: 65px;
}

.advantages-list__item {	
	text-transform: uppercase;
	font-weight: 600;
	font-size: 24px;
	list-style: none;
	margin-bottom: 39px;
}

.advangages-list {
	padding-left: 100px;
	letter-spacing: -0.6px;
	position: relative;
}

.advantages-list__item:nth-child(1):before {
	content: "";
	display: block;
	width: 19px;
	height: 13px;
	border-left: 7px solid #e51c20;
	border-bottom: 7px solid #e51c20;
	transform: rotate(-45deg);
	position: absolute;
	left: 40px;
}

.advantages-list__item:nth-child(2):before {
	content: "";
	display: block;
	width: 19px;
	height: 13px;
	border-left: 7px solid #e51c20;
	border-bottom: 7px solid #e51c20;
	transform: rotate(-45deg);
	position: absolute;
	left: 40px;
}

.advantages-list__item:nth-child(3):before {
	content: "";
	display: block;
	width: 19px;
	height: 13px;
	border-left: 7px solid #e51c20;
	border-bottom: 7px solid #e51c20;
	transform: rotate(-45deg);
	position: absolute;
	left: 40px;
}

.advantages-list__item:nth-child(4):before {
	content: "";
	display: block;
	width: 19px;
	height: 13px;
	border-left: 7px solid #e51c20;
	border-bottom: 7px solid #e51c20;
	transform: rotate(-45deg);
	position: absolute;
	left: 40px;
}

.info {
	width: 960px;
	margin: 0 auto;
	padding-top: 102px;
	padding-bottom: 98px;
}

.info-header {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 28px;
	margin: 0;
	margin-left: 155px;
	letter-spacing: -0.3px;
	line-height: 1.22;
}
.info-header:nth-of-type(2) {
	margin-bottom: 28px;
}
.info-desc {
	width: 840px;
	border: 3px solid #ff9c00;
	border-radius: 10px;
	margin: 0 auto;
	padding-left: 38px;
	padding-right: 38px;
	box-sizing: border-box;
	padding-top: 19px;
	padding-bottom: 19px;
	position: relative;
}
.info-desc:before {
	content: "!";
	position: absolute;
	font-size: 260px;
	top: -210px;
	font-weight: 600;
	letter-spacing: -2;
	left: 12px;
}

.info-desc__item {
	text-align: center;
	line-height: 1.22;
}

.info-desc__item:nth-of-type(1), .info-desc__item:nth-of-type(2) {
	font-style: italic;
	font-size: 18px;
}
.info-desc__item:nth-of-type(2) {
	margin-bottom: 35px;
}

.info-desc__item:nth-of-type(3) {
	font-weight: bold;
	font-size: 16px;
	width: 620px;
	margin: 0 auto;
	letter-spacing: -0.37px;
	margin-bottom: 20px;
}
.info-desc__item:nth-of-type(3):before {
	content: "";
	display: block;
	width: 110px;
	height: 3px;
	background: black;
	position: absolute;
	top: 77px;
	left: 371px;

}
.info-desc__item:nth-of-type(4) {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: -0.37px;
	width: 760px;
}

.foot-feedback {
	background: #bb1d1f;
	padding-top: 30px;
	padding-bottom: 42px;
}

.foot-feedback__header {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	letter-spacing: -0.25px;
	margin-bottom: 35px;
}

.foot-feedback__header--upper {
	text-transform: uppercase;
}

.foot-feedback input::placeholder {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color: black;
	letter-spacing: -0.21px;
}

.foot-feedback input {
	padding: 9px 12px;
	box-sizing: border-box;
	border: none;
}

.foot-feedback input:focus {
	outline: none;
}

.foot-feedback input:nth-of-type(1), .foot-feedback input:nth-of-type(2) {
	width: 340px;
	margin-right: 15px;
}

.foot-feedback input[type="submit"] {
	text-transform: uppercase;
	color: #fff;
	background: #bb1d1f;
	border: 2px solid #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 4px 30px;
	width: 240px;
	letter-spacing: -0.3px;
}

.footer {
	width: 960px;
	margin: 0 auto;
	padding-top: 42px;
	position: relative;
}
.footer-item:nth-of-type(1) {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}
.footer-item {
	display: inline-block;
}

.footer-item__phone {
	display: inline-block;
	font-size: 22px;
	text-transform: uppercase;
	background-image: linear-gradient(to right, black 0, black 9px, transparent 9px);
 	background-size: 13px 1px;
    background-repeat: repeat-x;
    background-position: 0% 90%;
    vertical-align: middle;
    transform: translateX(11px) translateY(-6px);
    text-decoration: none;
    color: black;

}

.footer-item__logo {
	display: inline-block;
	vertical-align: middle;
}

.footer-item__desc {
	font-size: 21px;
	transform: translateY(-10px);
}

.web-dev {
	font-size: 14px;
	font-weight: 300;
	color: #a8a8a8;
}

.footer-item:nth-of-type(2) {
	position: absolute;
	right: 0;
}

.web-logo {
	transform: translateY(10px);
}